<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="admin/adminPage" class="nav-link"  *ngIf="admin && isLoggedIn" routerLink="adminPage" > Admin Board</a>
      </li>
      <li class="nav-item">
        <a href="student/studentPage" class="nav-link" *ngIf="student && isLoggedIn" routerLink="studentPage">Student Board</a>
      </li>
      <li class="nav-item">
        <a href="teacher/teacherPage" class="nav-link" *ngIf="teacher && isLoggedIn" routerLink="teacherPage">Teacher Board</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>


  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
