<p></p>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <a class="navbar-brand" style="color:white;">User Manager</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
            <a class="nav-link" (click)="onOpenModal(null, 'add')">Add request <span class="sr-only">(current)</span></a>
         </li>
      </ul>
   </div>
 </nav>
 <div class="container" id="main-container">
 <div class="row">
   <div *ngFor="let r of requests" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
         <div class="card-body row">
            <div class="col-6">
               <a href=""><img src="{{r?.receiver.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
            </div>
            <div class="col-6 card-title align-self-center mb-0">
               <h5>Request id: {{r?.id}} </h5>
               <p class="m-0">Receiver: {{r?.receiver.username}}</p>
			   <p class="m-0">Purpose: {{r?.purpose}}</p>
			   <p class="m-0">Status: {{r?.status}}</p>
               <p class="m-0">Timestamp: {{r?.timestamp}}</p>
            </div>
         </div>
         <ul class="list-group list-group-flush">
			<button style="font-face: 'Comic Sans MS'; font-size: larger; color: rgb(244, 248, 248); background-color: #22221f; border: 3pt ridge lightgrey" 
			(click)="gotoPage(r?.id)">View more</button>
		</ul>
      </div>
   </div>
 </div>

	<!-- Add request Modal -->
	<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			 <div class="modal-header">
				<h5 class="modal-title" id="addEmployeeModalLabel">Add request</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			 </div>
			 <div class="modal-body">
				<form #addForm="ngForm" (ngSubmit)="onAddEmloyee(addForm)">
				<div class="form-group">
				   <label for="purpose">Purpose</label>
				   <input type="text" ngModel name="purpose" class="form-control" id="purpose" placeholder="Work, school..." required>
				</div>
				<div class="form-group">
					<label for="teachers">Teacher</label>
					<select ngModel name="receiver" class="form-control"  class="form-control">
						<option *ngFor="let t of teachers" [ngValue]="t">{{t.username}}</option>
					  </select>
				 </div>
				 <table>
					 <tr>
						<td>
							<div class="form-group">
								<label for="name2">Lesson's name</label>
								<input type="text" ngModel name="name" class="form-control" id="name" placeholder="math" required>
							</div>
						 </td>
						<td>
							<div class="form-group">
								<label for="grade">Lesson's grade</label>
								<input type="number" ngModel name="grade" class="form-control" id="grade" placeholder="1, 20..." required>
							</div>
						 </td>
						 <td>
							<div class="form-group">
								<label for="semester">Lesson's semester</label>
								<input type="number" ngModel name="semester" class="form-control" id="semester" placeholder="1, 5..." required>
							</div>
						 </td>
					 </tr>
					 <tr>
						<td>
						<div class="form-group">
							<input type="text" ngModel name="name2" class="form-control" id="name2" placeholder="biology" >
						</div>
					 </td>
					 <td>
						<div class="form-group">
							<input type="number" ngModel name="grade2" class="form-control" id="grade2" placeholder="1, 20..." >
						</div>
					 </td>
					 <td>
						<div class="form-group">
							<input type="number" ngModel name="semester2" class="form-control" id="semester2" placeholder="1, 5..." >
						</div>
					 </td>
					 </tr>
					 <tr>
						<td>
						<div class="form-group">
							<input type="text" ngModel name="name3" class="form-control" id="name3" placeholder="logistics" >
						</div>
					 </td>
					 <td>
						<div class="form-group">
							<input type="number" ngModel name="grade3" class="form-control" id="grade3" placeholder="1, 20..." >
						</div>
					 </td>
					 <td>
						<div class="form-group">
							<input type="number" ngModel name="semester3" class="form-control" id="semester3" placeholder="1, 5..." >
						</div>
					 </td>
					 </tr>

				 </table>
				<div class="modal-footer">
				   <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
				   <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
				</div>
				</form>
			 </div>
		  </div>
		</div>
		</div>

		<div *ngIf="requests.length == 0" class="col-lg-12 col-md-12 col-xl-12">
			<div class="alert alert-info" role="alert" style="background-color:rgb(208, 209, 209)">
			  <p>YOU DON'T HAVE SEND ANY REQUESTS. </p>
		</div>



	  