<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3>
  <strong>{{ currentUser.username }}</strong> Profile
    </h3>
  </header>
  <p>
    <strong>Token:</strong>
    {{ currentUser.accessToken.substring(0, 20) }} ...
    {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
  </p>
  <p>
    <strong>Email:</strong>
    {{ currentUser.email }}
  </p>
  <strong>Roles:</strong>
  <ul>
    <li *ngFor="let role of currentUser.roles">
      {{ role }}
    </li>
  </ul>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>


<div class="container-xl px-4 mt-4">
  <hr class="mt-0 mb-4">
  <div class="row">
      <div class="col-xl-4">
          <!-- Profile picture card-->
          <div class="card mb-4 mb-xl-0">
              <div class="card-header">Profile Picture</div>
              <div class="card-body text-center">
                  <!-- Profile picture image-->
                  <a href=""><img src="{{moreDetails?.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
                  <!-- Profile picture help block-->
                  <div class="small font-italic text-muted mb-4"></div>
              </div>
          </div>
      </div>
      <div class="col-xl-8">
          <!-- Account details card-->
          <div class="card mb-4">
              <div class="card-header">Account Details</div>
              <div class="card-body">
                <form #editForm="ngForm">
                  <div class="form-group">
                     <label for="name">Username</label>
                     <input type="text" ngModel="{{moreDetails?.username}}" name="username" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Name">
                  </div>
                  <input type="hidden" ngModel="{{moreDetails?.id}}" name="id" class="form-control" id="id" placeholder="Email">
                  <div class="form-group">
                     <label for="phone">Password</label>
                     <input type="text" minlength="6" maxlength="12" ngModel="{{moreDetails?.password}}" name="password" class="form-control" id="password" name="password" placeholder="password">
                  </div>
                  <div class="form-group">
                     <label for="phone">Image URL</label>
                     <input type="text" ngModel="{{moreDetails?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL">
                  </div>
                  <div class="modal-footer">
                     <button (click)="onUpdateUserDetails(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
                  </div>
               </form>
              </div>
          </div>
      </div>
  </div>
</div>

